@tailwind base;
@tailwind components;
@tailwind utilities;

#outterContainer {
  margin-left: 40px;
  margin-right: 40px;
}

@font-face {
  font-family: "DungGeunMo";
  font-weight: 400;
  src: url("/fonts/DungGeunMo.ttf") format("truetype");
}
